:root{
    --white: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
    --weight_one: 400;
    --weight_two: 700;
}

html{
    font-size: 10px;
}

body{
    background-color: var(--Light_gray);
}

.aside{
    background-color: var(--white);
    display: inline-block;
    padding: 2rem;
    position: relative;
    margin: 10rem 45rem 10rem;
    border-radius: 1.5rem;
}
.aside__container{
    position: relative;
    
}
.target__QR{
    width: 30rem;
}
img{
    position: relative;
    width: 30rem;
    border-radius: 1.5rem;
}
.aside__info{
    display: block;
    font-family: 'Outfit', sans-serif;
}
.text{
    text-align: center;
}

.text__principal{
    font-weight: 700;
    font-size: 1.5rem;
}
.text__secundario{
    color: var(--Grayish_blue);
}