:root{
    --white: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
@font-face {
    font-family: 'Outfit';
    src: url(https://fonts.google.com/specimen/Outfit);
    font-style: normal;
    font-weight: normal;
}

html{
    font-size: 10px;
}

body{
    background-color: var(--Light_gray);
}